<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kineticcafe.kcpmall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".activities.KcpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:windowSoftInputMode="adjustPan"
        android:theme="@style/AppTheme">

        android:hardwareAccelerated="true"


        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kineticcafe.kcpmall.activities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailActivity"
            android:parentActivityName="com.kineticcafe.kcpmall.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kineticcafe.kcpmall.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.kineticcafe.kcpmall.activities.ZoomableImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Plain" />
        <activity
            android:name="com.kineticcafe.kcpmall.activities.InterestedCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="com.kineticcafe.kcpmall.activities.InterestedStoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />

        <activity
            android:name="com.kineticcafe.kcpmall.activities.SubCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="com.kineticcafe.kcpmall.activities.MallInfoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="com.kineticcafe.kcpmall.activities.MallHourActivity"
            android:parentActivityName="com.kineticcafe.kcpmall.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kineticcafe.kcpmall.activities.MainActivity" />
        </activity>

        <activity
            android:name="com.kineticcafe.kcpmall.activities.ProfileInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />

        <activity
            android:name="com.kineticcafe.kcpmall.activities.MyPagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />

        <activity
            android:name="com.kineticcafe.kcpmall.activities.SocialDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />

        <activity
            android:name="com.kineticcafe.kcpmall.activities.ParkingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />

        <!--MAPPED IN-->
        <meta-data android:name="com.mappedin.sdk.Username" android:value="56f151b2c753ca4c0d000000"/>
        <meta-data android:name="com.mappedin.sdk.Password" android:value="0a11271a19b109e9211bbcc256f2e35d"/>

        <!--FABRIC CRASHLYTICS-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e04c4216c76caf16ad59f27ad0ecf4e2bcdb0fdd"
            />

        <!--GEOFENCE SERVICE-->
        <service android:name="com.kineticcafe.kcpmall.geofence.GeofenceTransitionsIntentService"/>
    </application>

</manifest>